<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <article class="card-docs"><i class="card-docs-icon icon-budicon-499 green"></i>
        <h2 class="card-docs-title">Getting started</h2>
        <p class="card-docs-description">Learn how to manage facilities with Rentmgr</p>
        <div class="card-docs-links"><a class="card-docs-link" href="">Caretaker Registration</a><a class="card-docs-link"
            href="">Property Registration</a><a class="card-docs-link" href="">Tenants Registration</a>
        </div><a class="card-docs-more" href="">More</a>
      </article>
    </div>
    <div class="col-xs-12 col-md-6">
      <article class="card-docs"><i class="card-docs-icon icon-budicon-342 green"></i>
        <h2 class="card-docs-title">Solutions</h2>
        <p class="card-docs-description">Rentmgr helps with</p>
        <div class="card-docs-links"><a class="card-docs-link" href="">Property Performance Analysis</a><a class="card-docs-link"
            href="">Property Management</a><a class="card-docs-link" href="">Rent collection Automation</a>
        </div><a class="card-docs-more" href="">More</a>
      </article>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <article class="card-docs"><i class="card-docs-icon icon-budicon-342 green"></i>
        <h2 class="card-docs-title">Standard Plan</h2>
        <p class="card-docs-description">Rentmgr standard plan</p>
        <div class="card-docs-links"><a class="card-docs-link" href="">Rent dues notification</a><a class="card-docs-link"
            href="">5 properties</a><a class="card-docs-link" href="" style="text-decoration: line-through">Rent
            collection automation</a>
        </div><a class="card-docs-more" href="">More</a>
      </article>
    </div>
    <div class="col-xs-12 col-md-6">
      <article class="card-docs"><i class="card-docs-icon icon-budicon-546 blue"></i>
        <h2 class="card-docs-title">Premium Plan</h2>
        <p class="card-docs-description">Rentmgr premium plan</p>
        <div class="card-docs-links"><a class="card-docs-link" href="">Rent dues notification</a><a class="card-docs-link"
            href="">5 properties</a><a class="card-docs-link" href="">Rent collection automation</a>
        </div><a class="card-docs-more" href="">More</a>
      </article>
    </div>
  </div>
</div>
