<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/" routerLinkActive="active" >
      <img src="https://scontent-los2-1.xx.fbcdn.net/v/t31.0-8/20116944_322227074870003_2273186356381578895_o.jpg?_nc_cat=105&_nc_eui2=AeHk6N1DjR9wDcJPWY4d4tbi0CuNjc9z704x7nnDYyBA3PdbZzwAchyzghhhxWeF9d_CAv8XxSanNGUBK7QO5aoKs69oIRhxEwzCY-Sw1Bi2nQ&_nc_ht=scontent-los2-1.xx&oh=15a1e370d127cdf4082325012d4003f2&oe=5CF816C9" width="112" height="28">
    </a>

    <a #burger role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="main-nav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="main-nav" #mainnav class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="/home" routerLinkActive="is-active" class="navbar-item">Home</a>
      <a routerLink="/about" routerLinkActive="active" class="navbar-item">About Us</a>
      <a routerLink="/faq" routerLinkActive="active" class="navbar-item">FAQ</a>
      <a routerLink="/help" routerLinkActive="active" class="navbar-item">Help & Support</a>

      <!-- <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">

        </div>
      </div> -->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a routerLink="/register" class="button is-info is-rounded">
            Sign up
          </a>
          <a routerLink="/login" class="button is-link is-rounded">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
